.wrapper{
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    border-radius: 10px;
    background: #5e505b;
    margin: 1rem 10rem;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__button{
        border-radius: 10px;
        padding: 0.75rem;
        background: ghostwhite;
        color: black;
        margin: 0.5rem;
    }
}