
.container{
    display: flex;
    flex-direction: column;

    &__boxes{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media (min-width: 700px){
            flex-direction: row;
            flex-wrap: wrap;
        }   
    }
    &__button{
        width: 50%;
        border-radius: 10px;
        padding: 0.75rem;
        background: ghostwhite;
        color: black;
        margin: 0.5rem;
        align-self: center;
    }
}

