.nav{
    background: ghostwhite;
    margin: 0;
    padding: 0.5rem;
    width: 100vw;
    border-bottom: #5e505b solid 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 700px){
        flex-direction: row;
        justify-content: space-between;
    }  

    &__logo{
        margin: 0.5rem;
    }
    

    &__links{
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: center;
        text-align: center;
        &-link{
            padding: 0.5rem;
            list-style: none;
            &:hover{
                font-weight: 700;
            }
        }
    }
}

a{
    text-decoration: none;
    color: black
}